<!DOCTYPE html>
<html lang="en">
<head>
    <style>mark {
        background-color: cyan;
        color: black
    }</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/results" method="POST">
    <p><b>请输入一段
        <mark>中文</mark>
        摘要:</b></p>
    <p><textarea autofocus cols="100" name="Abstract" rows="10" style="font-size:14pt"></textarea></p>
    <!--    <p>City <input type = "text" name = "City" /></p>-->
    <p><input type="submit" value="科研实体识别(加地点)"/></p>
</form>
</body>
</html>
